<app-nav-r></app-nav-r>
<main class="main-content">
        <header>
            <a routerLink="/home"><!--<img class="logo" src="../../../assets/Screenshot_146-removebg-preview.png" alt="logo">--></a>
            <nav class="header-nav">
        <div class="login-content">
            <div class="text-page">
                <h1>Create new account<span>.</span></h1>
                <p>Already A Member?<a routerLink="/login"> <br>Log in<br></a></p>
            </div>
    
            <form [formGroup]="IfsrForm" (ngSubmit)="eventSubmit()">
                <input type="text" name="" id="first-name-input" placeholder="First name"formControlName=fName>
                <input type="text" name="" id="last-name-input" placeholder="Last name"formControlName=lName>
                <input type="email" name="" id="email-input" placeholder="Email"formControlName=email>
                <input type="password" name="" id="pass" placeholder="Password"formControlName=password>
                <input type="password" name="" id="cpass" placeholder="Confirm Password"formControlName=cPassword>
                <input type="submit" class="login-button" value="Create account">
        <a class="copyright" href="https://github.com/Izzyyz" target="_blank" rel="noopener noreferrer">Izzy &copy; 2024.</a>
        
    
