<app-nav-r></app-nav-r>
<div class="space"></div>

<body>
  <main class="main-content">
    <div class="text">
      <h3 style="margin-bottom: 20px;">Your Info</h3>
      <br>
      <h6 style="margin-bottom: 15px;">Id: <b>{{id}}</b></h6>
      <h6 style="margin-bottom: 15px;">First Name: <b>{{fName}}</b></h6>
      <h6 style="margin-bottom: 15px;">Last Name: <b>{{lName}}</b></h6>
      <h6 style="margin-bottom: 15px;">Email: <b>{{emailS}}</b></h6>
      <h6 style="margin-bottom: 15px;">Address: <b>{{address}}</b></h6>
      <h6 style="margin-bottom: 15px;">Country: <b>{{pais}}</b></h6>
      <h6 style="margin-bottom: 15px;">City: <b>{{ciudad}}</b></h6>
      <h6 style="margin-bottom: 15px;">Phone Number: <b>{{phone}}</b></h6><br>
      <h3 class="titled">Delete your account</h3>
      <form class="formD" [formGroup]="crudForm2" (ngSubmit)="eventSubmit2()">
        <input type="text" name="_id" id="id-input2" placeholder="Id" formControlName=_id>
        <input type="submit" class="login-button" value="Delete">
      </form>
    </div>
    <div class="text2">
      <div class="titlecont">
        <h3 class="titleupd">Info Update</h3>
        <form class="formm" [formGroup]="crudForm" (ngSubmit)="eventSubmit()">
          <input type="text" name="_id" id="id-input" placeholder="Id" formControlName=_id>
          <input type="text" name="" id="first-name-input4" placeholder="First name" formControlName=fName>
          <input type="text" name="" id="last-name-input" placeholder="Last name" formControlName=lName>
          <input type="email" name="" id="email-input" placeholder="Email" formControlName=email>
          <input type="text" name="" id="email-input2" placeholder="Address" formControlName=address>
          <input type="text" name="" id="first-name-input" placeholder="Country" formControlName=country>
          <input type="text" name="" id="first-name-input3" placeholder="City" formControlName=city>
          <input type="text" name="" id="first-name-input2" placeholder="Phone" formControlName=phoneNum>
          <input type="password" name="" id="pass" placeholder="Password" formControlName=password>
          <input type="password" name="" id="cpass" placeholder="Confirm Password" formControlName=cPassword>
          <input type="submit" class="login-button" value="Update">
          <div class="footer" >
          </div>
          