<main class="main-content">
    <div class="col1">
        <header>
            <nav class="header-nav">
            </nav>
        </header>

        <div class="login-content">
            <div class="text-page">
                <p>Hey buddy</p>
                <h1>Seems like you are lost<span>.</span></h1>
                <p>Do you want to go <a class="Homebtt" routerLink="/home"> Home</a></p>
            </div>
    
        </div>
        
        <a class="copyright" href="https://github.com/Izzyyz" target="_blank" rel="noopener noreferrer">Endless Team &copy; 2024.</a>
    </div>

    <div class="col2"></div>
    
</main>