@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    background-color:#464856;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
   /* background-image: url(../images/wave.svg);*/
}

.main-content {
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color:#ffd7e9;
    width: 85%;
    height: 85%;
    padding: 30px 50px;
    border-radius: 15px;
    box-shadow: 5px 10px 35px 5px rgba(252, 137, 208, 0.61);
}
.col1 {
    width: 50%;
}

.col2{
    width: 50%;
    height: 95%;
    background-image: url(../../../assets/ghost-img.png);
    background-size: 35em;
    background-repeat: no-repeat;
    background-position: bottom right;
    margin-right: 100px;
    animation: floating infinite 5s;
    z-index: -1;
}

@keyframes floating {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0px);
    }
}

header {
    display: flex;
}
header .logo{
    height:2.5em;
    margin-right: 5em;
}
header .list-nav{
    display: flex;
    list-style: none;
}

header .list-nav .list-nav-item{
    margin: 0 4em 0 0;
}

header .list-nav .list-nav-item a{
    color: #808fad;
    font-weight: 600;
    text-decoration: none;
    transition: .5s;
}
header .list-nav .list-nav-item a:hover{
    color:#dee9ff;
    transition: .5s;
}


.login-content{
    margin-left: 2em;
    width:25em ;
}

.text-page {
    margin-top:200px;
    padding-left: 150px;

}
.text-page p {
    margin-left:5px ;
    width: 350px;
    color: #000000;
    font-size: 25px;
    font-weight: 500;
}

.text-page p:nth-child(3){
    font-size: 20px;
    font-weight: 400;
}

.text-page p a{
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
}

.Homebtt{
    background-color: #ff91c2;
    color: #fdfdfd;
    font-size: 14px;
    margin-left: 5px;
    padding: 8px 20px;
    border-radius: 360px;
    font-weight: 400;
    text-decoration: none;
    transition: 0.2s background-color;
}

.Homebtt:hover {
    background-color: #ff6fb0;
}

.text-page h1{
    color: #000000;
    margin: .3em auto;
    margin-bottom: 30px;
    font-size: 65px;
    font-weight: 650;
    width: 500px;
}
.text-page h1 span{
    color: #ff91c2;
}



form {
    margin: 1.5em 0;
}

form input{
    background-color:#323645 ;
    color: #fff;
    width: 170px;
    outline: none;
    padding: 12px 20px;
    font-size: .7em;
    border-radius: 10px;
    border: 1.5px solid transparent;
    margin: 15px 20px auto 0;
    z-index: 100;
}
input:focus{
    border: orange 1.5px solid;
}

form input::placeholder{
    color:#808fad;
}

form #email-input, #pass{
    width: 365px;
}

form .login-button{
    border-radius: 360px;
    background-color: orange;
    font-weight: 600;
    cursor: pointer;
}

.main-content .copyright {
    position: absolute;
    text-decoration: none;
    right: 2em;
    bottom: 1em;
    color: #000000;
    font-weight: 600;
    font-size: .7em;
}

.main-content .copyright:hover{
    color:#f800f8;
}

.img{
    width: 500px;
    height: 500px;
}

@media screen and (max-width:1492px){
    .col2{
        background-image:none;
    }
}






@media screen and (max-width:1024px){
    body{
        width:100vw;
        height: 100vh;
        background-color:#282a37;
        background-image: none;

    }
    .main-content {
        position: static;
        background-color: transparent;
        display: flex;
        top: auto;
        left: auto;
        transform: none;
        background-image: none;
        background-size:0 ;
        background-repeat: no-repeat;
        background-position:top;
        width: 93%;
        height: auto;
        margin-top: 150px;
        padding:3em;
        border-radius: 0;
        box-shadow: none;
        text-align: center;
    }
    
    .col1{
        width: 100%;
    }

    .col2{
        display: none;
    }
    
    header {
        display: flex;
        justify-content: space-between;
    }
    header .logo{
        height:2.5em;
        margin-right:1.5em;
    }
    header .list-nav{
        display: flex;
        list-style: none;
    }
    
    header .list-nav .list-nav-item{
        margin: 0 4em 0 0;
    }
    
    header .list-nav .list-nav-item a{
        color: #808fad;
        font-weight: 600;
        text-decoration: none;
        transition: .5s;
    }
    header .list-nav .list-nav-item a:hover{
        color:#dee9ff;
        transition: .5s;
    }
    
    
    .login-content{
        display: flex;
        flex-direction: column;
        margin-left:auto;
        width:auto;
        padding:2;
    }
    
    .text-page {
        display: flex;
        margin: 0%;
        padding: 0%;
        align-items: center;
        align-content: space-between;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
    }
    .text-page p {
        color: #ffffff;
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    
    .text-page p:nth-child(3){
        font-weight: normal;
        font-size: .8em;
    }
    
    .text-page p a{
        text-decoration: none;
        color: orange;
        font-weight: normal;
    }
    
    .text-page h1{
        margin-bottom: 30px;
        color: #fff;
        margin: 0%;
       
    }
    .text-page h1 span{
        color: orange;
    }
    
    
    
    form {
        margin: auto;
        width: 80%;
    }
    
    form input{
        background-color:#323645 ;
        color: #fff;
        width: 100%;
        outline: none;
        padding: 12px 20px;
        font-size: .7em;
        border-radius: 10px;
        border: 1.5px solid transparent;
        margin: 15px 0px auto 0;
    }
    input:focus{
        border: orange 1.5px solid;
    }
    
    form input::placeholder{
        color:#808fad;
    }
    
    form #email-input, #pass{
        width: 100%;
    }
    
    form .login-button{
        border-radius: 360px;
        background-color: rgb(255, 166, 0);
        font-weight: 600;
        cursor: pointer;
        margin-bottom: 4em;
    }
    
    .main-content .copyright {
        position: static;
        text-decoration: none;
        color: #000000;
        font-weight: 600;
        font-size: .7em;
    }
    
    .main-content .copyright:hover{
        color:#f800f8;
    }
}