
#carouselExampleAutoplaying{
    display: flex;
    margin-top: 30px;
    width:fit-content;
    margin-left: auto;
    margin-right:auto;
    border: 2cm;
    box-shadow: 5px 10px 35px 5px rgba(252, 137, 208, 0.61);
}

.carousel-inner{
    display: flex;
}

.w-100 {
    max-height: 60vh;
    display: flex;
    
}