<app-nav-r></app-nav-r>
<app-prom></app-prom>
<div class="sakuraimg">
    <img src="../../../assets/pixelcut-export (1).jpeg" alt="Sakura Line">
</div>
<div class="features">
    <p class="feature">Feature Products</p>
</div>
<div class="row row-cols-1 row-cols-md-5 g-4" style="margin: 0%;">
    <div class="col">
        <div class="card h-100">
            <img src="../../../assets/bbcream.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Laikou Waterproof BB Cream</h5>
                <p class="card-text">LAIKOU Waterproof BB Cream Concealer Long Lasting Foundation Oil Control Make Up
                    30ml</p>
            </div>
            <div class="card-footer">
                <button type="button" class="btn">See</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../../assets/laikoupro.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Laikou 99.6% Advanced Niacinamide</h5>
                <p class="card-text">LAIKOU 99.6% Advanced Niacinamide Brightening Face Cream Fade Fine Lines
                    Moisturizer 30g</p>
            </div>
            <div class="card-footer">
                <button type="button" class="btn">See</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../../assets/serumsk.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Laikou Sakura Serum</h5>
                <p class="card-text">LAIKOU Japan Sakura Serum Remove Wrinkles Spots Rejuvenation Facial Essence 30ml
                </p>
            </div>
            <div class="card-footer">
                <button type="button" class="btn">See</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../../assets/bodylotionsk.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Laikou Sakura Body Lotion</h5>
                <p class="card-text">LAIKOU Sakura Brightening Body Lotion Anti-aging Remove Wrinkle Smoothing 120g</p>
            </div>
            <div class="card-footer">
                <button type="button" class="btn">See</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../../assets/cleansersk.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Laikou Sakura Cleanser</h5>
                <p class="card-text">LAIKOU Japan Sakura Cleanser can clean pores deeply to remove dirt, oil and make-up
                    easily.</p>
            </div>
            <div class="card-footer">
                <button type="button" class="btn">See</button>
            </div>
        </div>
    </div>
</div>
<div class="space2"></div>
<!--<div class="card mb-3" style="width: 70%; background-color: black; display: flex; margin-left: auto; margin-right: auto;margin-top: 150px; border-radius: 0%;">
    <div class="row g-0">
      <div class="col-md-4"style="border-radius: 0%;">
        <img src="../../../assets/photosk.jpg" class="img-fluid rounded-start" style="border: 0%;border: 2cm;
    box-shadow: 5px 10px 35px 5px rgba(252, 137, 208, 0.61);" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body" style="text-align: center; padding-left: 80px;">
          <h3 class="card-title" style="color: white; margin-bottom: 20px; margin-top: 30px;">About Us</h3>
          <p class="card-text" style="color: white; font-size: 18px;">This winter, let LAIKOU JAPAN SAKURA SKINCARE SET becomes your beauty companion
            . Meticulously curated skincare essentials infuse vitality and nourishment into your skin.
            With delicate care, radiate the confidence and brilliance of a blooming cherry blossom,
            embracing the spirit of self-expression. Allow the elegant beauty of cherry blossoms
            to grace your skin, adding a touch of splendid color to your spring. Infuse your
            skin with the tender elegance and vitality of cherry blossoms.</p>
        </div>
      </div>
    </div>
  </div>

<div class="skivid2">
    <h2>About us</h2>
    <h3>Delicate Care, Unveil Confidence</h3>
    <p class="textabout">This winter, let LAIKOU JAPAN SAKURA SKINCARE SET becomes your beauty companion
        . Meticulously curated skincare essentials infuse vitality and nourishment into your skin.
        With delicate care, radiate the confidence and brilliance of a blooming cherry blossom,
        embracing the spirit of self-expression. Allow the elegant beauty of cherry blossoms
        to grace your skin, adding a touch of splendid color to your spring. Infuse your
        skin with the tender elegance and vitality of cherry blossoms.</p>
    </div>
<div class="text">-->
    <section class="page-section bg-primary" style="border: 2cm;margin-left: 130px;margin-right: 130px;height: fit-content;
    box-shadow: 5px 10px 35px 5px rgba(252, 137, 208, 0.61);display: flex; justify-content: center;border-radius: 12px; margin-top: 120px; background-color: #ffb1d4!important;" id="about">
        <!-- <div class="container px-4 px-lg-5" style="display: flex; justify-content: center; max-width: 800px;"> -->
            <div class="skvid">
                <video class="vidsk" src="../../../assets/Diseño sin título (1).mp4" autoplay loop></video>
            </div>
            <div class="row gx-4 gx-lg-5 justify-content-center" style="display: flex; justify-content: center;">
                <div class="col-lg-8 text-center" style="width: 65%;">
                    <h2 class="text-white mt-0" style="margin-top:50px!important;">About Us</h2>
                    <hr class="divider divider-white" style="color: white;" />
                    <p class="text-white-75 mb-4" style="color: rgb(255, 255, 255);font-size: 18px;">This winter, let LAIKOU JAPAN SAKURA SKINCARE SET becomes your beauty companion
                        . Meticulously curated skincare essentials infuse vitality and nourishment into your skin.
                        With delicate care, radiate the confidence and brilliance of a blooming cherry blossom,
                        embracing the spirit of self-expression. Allow the elegant beauty of cherry blossoms
                        to grace your skin, adding a touch of splendid color to your spring. Infuse your
                        skin with the tender elegance and vitality of cherry blossoms.</p></div>
            </div>
        <!-- </div> -->
    </section>
    
    <div class="space"></div>
    <app-footer></app-footer>