<app-nav-r></app-nav-r>
<div class="routines">
    <h3 class="title">Choose a routine according to your skin type!</h3>
</div>
<div class="row">
    <div class="col-4">
        <div id="simple-list-example" style="display: flex; align-items: center;" class="d-flex flex-column gap-2 simple-list-example-scrollspy text-center">
            <a class="p-1 rounded" style="text-decoration: none; color: #ff91c2;text-shadow: 0 0 30px #fa4b9a; margin-bottom: 20px;margin-top: 20px;background-color: #000000;width: 35%;box-shadow: 2.5px 2.5px 15px 2.5px rgba(252, 137, 208, 0.61);" href="#simple-list-item-1">Normal Skin</a>
            <a class="p-1 rounded" style="text-decoration: none; color: #ff91c2;text-shadow: 0 0 30px #fa4b9a;margin-bottom: 20px;margin-top: 20px;background-color: #000000;width: 35%;box-shadow: 2.5px 2.5px 15px 2.5px rgba(252, 137, 208, 0.61)" href="#simple-list-item-2">Dry Skin</a>
            <a class="p-1 rounded" style="text-decoration: none; color: #ff91c2;text-shadow: 0 0 30px #fa4b9a;margin-bottom: 20px;margin-top: 20px;background-color: #000000;width: 35%;box-shadow: 2.5px 2.5px 15px 2.5px rgba(252, 137, 208, 0.61)" href="#simple-list-item-3">Oily Skin</a>
            <a class="p-1 rounded" style="text-decoration: none; color: #ff91c2;text-shadow: 0 0 30px #fa4b9a;margin-bottom: 20px;margin-top: 20px;background-color: #000000;width: 35%;box-shadow: 2.5px 2.5px 15px 2.5px rgba(252, 137, 208, 0.61)" href="#simple-list-item-4">Mixed Skin</a>
            <a class="p-1 rounded" style="text-decoration: none; color: #ff91c2;text-shadow: 0 0 30px #fa4b9a;margin-bottom: 20px;margin-top: 20px;background-color: #000000;width: 35%;box-shadow: 2.5px 2.5px 15px 2.5px rgba(252, 137, 208, 0.61)" href="#simple-list-item-5">Sensitive Skin</a>
            <a class="p-1 rounded" style="text-decoration: none; color: #ff91c2;text-shadow: 0 0 30px #fa4b9a;margin-bottom: 20px;margin-top: 20px;background-color: #000000;width: 35%;box-shadow: 2.5px 2.5px 15px 2.5px rgba(252, 137, 208, 0.61)" href="#simple-list-item-6">Mature Skin</a>
            <a class="p-1 rounded" style="text-decoration: none; color: #ff91c2;text-shadow: 0 0 30px #fa4b9a;margin-bottom: 20px;margin-top: 20px;background-color: #000000;width: 35%;box-shadow: 2.5px 2.5px 15px 2.5px rgba(252, 137, 208, 0.61)" href="#simple-list-item-7">Acne Skin</a>
            <a class="p-1 rounded" style="text-decoration: none; color: #ff91c2;text-shadow: 0 0 30px #fa4b9a;margin-bottom: 20px;margin-top: 20px;background-color: #000000;width: 35%;box-shadow: 2.5px 2.5px 15px 2.5px rgba(252, 137, 208, 0.61)" href="#simple-list-item-8">Skin with dark spots</a>
        </div>
    </div>
    <div class="col-8">
        <div data-bs-spy="scroll" data-bs-target="#simple-list-example" data-bs-offset="0" data-bs-smooth-scroll="true"
            class="scrollspy-example" style="color: white;" tabindex="0">
            <h2 id="simple-list-item-1">Normal Skin</h2>
            <p>
            <h4>How can you identify your skin type?</h4>
            <br>Characteristics: Smooth and uniform texture, without excessive oiliness or noticeable dryness.
            Key products in the routine: Use gentle cleansers that maintain the skin's natural balance, refreshing
            toners, hydrating serums, and moisturizers that maintain hydration without adding excess oil.<br>
            <br>
            <h5>Cleansing</h5><br>

            <h6>Laikou Sakura Cleansing Foam</h6>
            <br>A gentle yet effective facial cleanser that removes dirt and impurities while maintaining the skin's
            natural moisture balance. Enriched with Sakura extract, it leaves the skin feeling refreshed and
            clean.<br><br><br>

            <h5>Tonic</h5><br>

            <h6>Laikou Sakura Refreshing Toner</h6>
            <br>A refreshing toner that revitalizes the skin and helps tighten pores. It prepares the skin for hydration
            and absorption of subsequent skincare products, leaving a smooth and balanced complexion.<br><br><br>
            <h5>Serum</h5><br>

            <h6>Laikou Sakura Hydrating Serum</h6>
            <br>An intensive hydrating serum that replenishes moisture and boosts skin's hydration levels. Formulated to
            improve skin elasticity and promote a radiant complexion.<br><br><br>
            <h5>Moisturizing</h5><br>

            <h6>Laikou Sakura Daily Moisturizer</h6>
            <br>A lightweight daily moisturizer that nourishes and hydrates the skin without greasiness. Provides
            long-lasting moisture and enhances skin's natural barrier.<br><br><br>
            <h5>Sunscreen</h5><br>

            <h6>Laikou Sakura Sunscreen SPF 30</h6>
            <br>A broad-spectrum sunscreen that protects against UVA and UVB rays. Formulated with SPF 30, it prevents
            sun damage and premature aging while keeping the skin moisturized and protected throughout the
            day.<br><br><br>
            <h2 id="simple-list-item-2">Dry Skin</h2>
            <p>
            <h4>How can you identify your skin type?</h4>
            <br>Characteristics: Feeling of tightness and flakiness after washing your face, lack of natural glow.
            Key products in the routine: Look for products like gentle and creamy cleansers (such as moisturizing Cleansing Milk), hydrating toners, and creams with humectants like hyaluronic acid and rich emollients.<br>
            <br>
            <h5>Cleansing</h5><br>

            <h6>Laikou Sakura Cleansing Foam</h6>
            <br>A gentle yet effective facial cleanser that removes dirt and impurities while maintaining the skin's
            natural moisture balance. Enriched with Sakura extract, it leaves the skin feeling refreshed and
            clean.<br><br><br>

            <h5>Tonic</h5><br>

            <h6>Laikou Sakura Refreshing Toner</h6>
            <br>A refreshing toner that revitalizes the skin and helps tighten pores. It prepares the skin for hydration
            and absorption of subsequent skincare products, leaving a smooth and balanced complexion.<br><br><br>
            <h5>Serum</h5><br>

            <h6>Laikou Sakura Hydrating Serum</h6>
            <br>An intensive hydrating serum that replenishes moisture and boosts skin's hydration levels. Formulated to
            improve skin elasticity and promote a radiant complexion.<br><br><br>
            <h5>Moisturizing</h5><br>

            <h6>Laikou Sakura Daily Moisturizer</h6>
            <br>A lightweight daily moisturizer that nourishes and hydrates the skin without greasiness. Provides
            long-lasting moisture and enhances skin's natural barrier.<br><br><br>
            <h5>Sunscreen</h5><br>

            <h6>Laikou Sakura Sunscreen SPF 30</h6>
            <br>A broad-spectrum sunscreen that protects against UVA and UVB rays. Formulated with SPF 30, it prevents
            sun damage and premature aging while keeping the skin moisturized and protected throughout the
            day.<br><br><br>
            <h2 id="simple-list-item-3">Oily skin</h2>
            <p>
            <h4>How can you identify your skin type?</h4>
            <br>Characteristics: Excessive shine in the T-zone (forehead, nose, chin), visible pores, prone to blackheads and pimples.
            Key products in the routine: Opt for cleansers that remove excess oil (like Deep Cleansing Foam), toners that control sebum production, serums with ingredients like tea tree, and lightweight or oil-free moisturizers.<br>
            <br>
            <h5>Cleansing</h5><br>

            <h6>Laikou Sakura Cleansing Foam</h6>
            <br>A gentle yet effective facial cleanser that removes dirt and impurities while maintaining the skin's
            natural moisture balance. Enriched with Sakura extract, it leaves the skin feeling refreshed and
            clean.<br><br><br>

            <h5>Tonic</h5><br>

            <h6>Laikou Sakura Refreshing Toner</h6>
            <br>A refreshing toner that revitalizes the skin and helps tighten pores. It prepares the skin for hydration
            and absorption of subsequent skincare products, leaving a smooth and balanced complexion.<br><br><br>
            <h5>Serum</h5><br>

            <h6>Laikou Sakura Hydrating Serum</h6>
            <br>An intensive hydrating serum that replenishes moisture and boosts skin's hydration levels. Formulated to
            improve skin elasticity and promote a radiant complexion.<br><br><br>
            <h5>Moisturizing</h5><br>

            <h6>Laikou Sakura Daily Moisturizer</h6>
            <br>A lightweight daily moisturizer that nourishes and hydrates the skin without greasiness. Provides
            long-lasting moisture and enhances skin's natural barrier.<br><br><br>
            <h5>Sunscreen</h5><br>

            <h6>Laikou Sakura Sunscreen SPF 30</h6>
            <br>A broad-spectrum sunscreen that protects against UVA and UVB rays. Formulated with SPF 30, it prevents
            sun damage and premature aging while keeping the skin moisturized and protected throughout the
            day.<br><br><br>
            <h2 id="simple-list-item-4">Mixed Skin</h2>
            <p>
            <h4>How can you identify your skin type?</h4>
            <br>Characteristics: Oily T-zone (forehead, nose, chin) and dry or normal cheeks, visible pores in the T-zone.
            Key products in the routine: Use balancing cleansers, toners that help maintain balanced skin, lightweight serums, and moisturizers that are not too heavy.<br>
            <br>
            <h5>Cleansing</h5><br>

            <h6>Laikou Sakura Cleansing Foam</h6>
            <br>A gentle yet effective facial cleanser that removes dirt and impurities while maintaining the skin's
            natural moisture balance. Enriched with Sakura extract, it leaves the skin feeling refreshed and
            clean.<br><br><br>

            <h5>Tonic</h5><br>

            <h6>Laikou Sakura Refreshing Toner</h6>
            <br>A refreshing toner that revitalizes the skin and helps tighten pores. It prepares the skin for hydration
            and absorption of subsequent skincare products, leaving a smooth and balanced complexion.<br><br><br>
            <h5>Serum</h5><br>

            <h6>Laikou Sakura Hydrating Serum</h6>
            <br>An intensive hydrating serum that replenishes moisture and boosts skin's hydration levels. Formulated to
            improve skin elasticity and promote a radiant complexion.<br><br><br>
            <h5>Moisturizing</h5><br>

            <h6>Laikou Sakura Daily Moisturizer</h6>
            <br>A lightweight daily moisturizer that nourishes and hydrates the skin without greasiness. Provides
            long-lasting moisture and enhances skin's natural barrier.<br><br><br>
            <h5>Sunscreen</h5><br>

            <h6>Laikou Sakura Sunscreen SPF 30</h6>
            <br>A broad-spectrum sunscreen that protects against UVA and UVB rays. Formulated with SPF 30, it prevents
            sun damage and premature aging while keeping the skin moisturized and protected throughout the
            day.<br><br><br>
            <h2 id="simple-list-item-5">Sensitive skin</h2>
            <p>
            <h4>How can you identify your skin type?</h4>
            <br>Characteristics: Redness, burning sensation, or itching with certain products, prone to allergic reactions.
            Key products in the routine: Opt for gentle and fragrance-free cleansers, soothing toners, serums with ingredients like centella asiatica, and creams specially formulated for sensitive skin.<br>
            <br>
            <h5>Cleansing</h5><br>

            <h6>Laikou Sakura Cleansing Foam</h6>
            <br>A gentle yet effective facial cleanser that removes dirt and impurities while maintaining the skin's
            natural moisture balance. Enriched with Sakura extract, it leaves the skin feeling refreshed and
            clean.<br><br><br>

            <h5>Tonic</h5><br>

            <h6>Laikou Sakura Refreshing Toner</h6>
            <br>A refreshing toner that revitalizes the skin and helps tighten pores. It prepares the skin for hydration
            and absorption of subsequent skincare products, leaving a smooth and balanced complexion.<br><br><br>
            <h5>Serum</h5><br>

            <h6>Laikou Sakura Hydrating Serum</h6>
            <br>An intensive hydrating serum that replenishes moisture and boosts skin's hydration levels. Formulated to
            improve skin elasticity and promote a radiant complexion.<br><br><br>
            <h5>Moisturizing</h5><br>

            <h6>Laikou Sakura Daily Moisturizer</h6>
            <br>A lightweight daily moisturizer that nourishes and hydrates the skin without greasiness. Provides
            long-lasting moisture and enhances skin's natural barrier.<br><br><br>
            <h5>Sunscreen</h5><br>

            <h6>Laikou Sakura Sunscreen SPF 30</h6>
            <br>A broad-spectrum sunscreen that protects against UVA and UVB rays. Formulated with SPF 30, it prevents
            sun damage and premature aging while keeping the skin moisturized and protected throughout the
            day.<br><br><br>
            <h2 id="simple-list-item-6">Mature skin</h2>
            <p>
            <h4>How can you identify your skin type?</h4>
            <br>Characteristics: Loss of firmness, visible wrinkles, lack of luminosity and elasticity.
            Key products in the routine: Look for cleansers that maintain hydration, toners that help fight signs of aging, serums with ingredients like retinol, and creams rich in antioxidants and peptides.<br>
            <br>
            <h5>Cleansing</h5><br>

            <h6>Laikou Sakura Cleansing Foam</h6>
            <br>A gentle yet effective facial cleanser that removes dirt and impurities while maintaining the skin's
            natural moisture balance. Enriched with Sakura extract, it leaves the skin feeling refreshed and
            clean.<br><br><br>

            <h5>Tonic</h5><br>

            <h6>Laikou Sakura Refreshing Toner</h6>
            <br>A refreshing toner that revitalizes the skin and helps tighten pores. It prepares the skin for hydration
            and absorption of subsequent skincare products, leaving a smooth and balanced complexion.<br><br><br>
            <h5>Serum</h5><br>

            <h6>Laikou Sakura Hydrating Serum</h6>
            <br>An intensive hydrating serum that replenishes moisture and boosts skin's hydration levels. Formulated to
            improve skin elasticity and promote a radiant complexion.<br><br><br>
            <h5>Moisturizing</h5><br>

            <h6>Laikou Sakura Daily Moisturizer</h6>
            <br>A lightweight daily moisturizer that nourishes and hydrates the skin without greasiness. Provides
            long-lasting moisture and enhances skin's natural barrier.<br><br><br>
            <h5>Sunscreen</h5><br>

            <h6>Laikou Sakura Sunscreen SPF 30</h6>
            <br>A broad-spectrum sunscreen that protects against UVA and UVB rays. Formulated with SPF 30, it prevents
            sun damage and premature aging while keeping the skin moisturized and protected throughout the
            day.<br><br><br>
            <h2 id="simple-list-item-7">Acne-prone skin</h2>
            <p>
            <h4>How can you identify your skin type?</h4>
            <br>CCharacteristics: Blackheads, pimples, frequent breakouts, clogged pores.
            Key products in the routine: Use cleansers that control oil production and are antibacterial, toners that help reduce inflammation, serums with ingredients like salicylic acid, and lightweight, non-comedogenic creams.<br>
            <br>
            <h5>Cleansing</h5><br>

            <h6>Laikou Sakura Cleansing Foam</h6>
            <br>A gentle yet effective facial cleanser that removes dirt and impurities while maintaining the skin's
            natural moisture balance. Enriched with Sakura extract, it leaves the skin feeling refreshed and
            clean.<br><br><br>

            <h5>Tonic</h5><br>

            <h6>Laikou Sakura Refreshing Toner</h6>
            <br>A refreshing toner that revitalizes the skin and helps tighten pores. It prepares the skin for hydration
            and absorption of subsequent skincare products, leaving a smooth and balanced complexion.<br><br><br>
            <h5>Serum</h5><br>

            <h6>Laikou Sakura Hydrating Serum</h6>
            <br>An intensive hydrating serum that replenishes moisture and boosts skin's hydration levels. Formulated to
            improve skin elasticity and promote a radiant complexion.<br><br><br>
            <h5>Moisturizing</h5><br>

            <h6>Laikou Sakura Daily Moisturizer</h6>
            <br>A lightweight daily moisturizer that nourishes and hydrates the skin without greasiness. Provides
            long-lasting moisture and enhances skin's natural barrier.<br><br><br>
            <h5>Sunscreen</h5><br>

            <h6>Laikou Sakura Sunscreen SPF 30</h6>
            <br>A broad-spectrum sunscreen that protects against UVA and UVB rays. Formulated with SPF 30, it prevents
            sun damage and premature aging while keeping the skin moisturized and protected throughout the
            day.<br><br><br>
            <h2 id="simple-list-item-8">Skin with dark spots</h2>
            <p>
            <h4>How can you identify your skin type?</h4>
            <br>Characteristics: Hyperpigmentation, dark spots, or uneven areas of pigmentation.
            Key products in the routine: Opt for brightening cleansers, toners that promote cell renewal, serums with vitamin C, and creams that help reduce dark spots and improve luminosity.<br>
            <br>
            <h5>Cleansing</h5><br>

            <h6>Laikou Sakura Cleansing Foam</h6>
            <br>A gentle yet effective facial cleanser that removes dirt and impurities while maintaining the skin's
            natural moisture balance. Enriched with Sakura extract, it leaves the skin feeling refreshed and
            clean.<br><br><br>

            <h5>Tonic</h5><br>

            <h6>Laikou Sakura Refreshing Toner</h6>
            <br>A refreshing toner that revitalizes the skin and helps tighten pores. It prepares the skin for hydration
            and absorption of subsequent skincare products, leaving a smooth and balanced complexion.<br><br><br>
            <h5>Serum</h5><br>

            <h6>Laikou Sakura Hydrating Serum</h6>
            <br>An intensive hydrating serum that replenishes moisture and boosts skin's hydration levels. Formulated to
            improve skin elasticity and promote a radiant complexion.<br><br><br>
            <h5>Moisturizing</h5><br>

            <h6>Laikou Sakura Daily Moisturizer</h6>
            <br>A lightweight daily moisturizer that nourishes and hydrates the skin without greasiness. Provides
            long-lasting moisture and enhances skin's natural barrier.<br><br><br>
            <h5>Sunscreen</h5><br>

            <h6>Laikou Sakura Sunscreen SPF 30</h6>
            <br>A broad-spectrum sunscreen that protects against UVA and UVB rays. Formulated with SPF 30, it prevents
            sun damage and premature aging while keeping the skin moisturized and protected throughout the
            day.<br><br><br>
        </div>
    </div>
</div>